<!-- templates/home.html -->

{% extends "news/base.html" %}
{% block content %}
{% for story in stories %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ story.author }}</a>
            <small class="text-muted">{{ story.story_date|date:"F. d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'story-detail' story.id %}">
            {{ story.headline }}</a></h2>
        <p class="article-content">{{ story.story_details }}</p>
        <p class="article-content">Categoy: {{ story.story_cat }}</p>
        <p class="article-content">Region: {{ story.story_region }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}